.hero {
  position: relative;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: url("./assets/bg-soccer.jpg") center / cover no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5); /* escurece a imagem */
}

.hero * {
  position: relative;
  z-index: 1;
}

.hero__titulo {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  max-width: 900px;
}

/*Aside*/
.btn-aside {
  position: fixed;
  top: 90%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 1050;
}
